.nav-link {
  width: 100px;
  display: flex;
  justify-items: center;
  align-items: center;
}
.house {
  padding-right: 5px;
}
.colage {
  padding-right: 5px;
}
.arduino {
  padding-right: 5px;
}
.me-auto {
  padding-right: 30px;
}
@media screen and (max-width: 500px) {
  .me-auto {
    z-index: 1000;
    transition: all 0.5s ease-in-out;
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #333; /* Añade un fondo para que parezca un botón */
    padding: 10px 0; /* Añade padding para darle más espacio */
  }

  .nav-bottom .nav-link {
    background-color: #333; /* Añade un fondo para que parezca un botón */
    border: none; /* Elimina el borde predeterminado */
    padding: 10px 20px; /* Añade padding para darle más espacio */
    margin: 10px 0; /* Añade margen para separar los botones */
    border-radius: 5px; /* Añade bordes redondeados para darle una apariencia de botón */
    text-align: center; /* Centra el texto dentro del botón */
    display: block; /* Asegura que los botones ocupen todo el ancho disponible */
    width: 100%; /* Asegura que los botones ocupen todo el ancho disponible */
    
  }
}
